<section class="mt-5 p-3">
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-4 d-flex justify-content-center">
                {{!-- <img class="img-fluid" src={{PLACEHOLDER image url}} alt="Image of {{PLACEHOLDER username}}"> --}}
            </div>
            <div class="col-6 col-md-7 col-lg-8">
                {{#each as |friend|}}
                <h3>{{friend.name}}</h3>
                <h5>age: {{friend.age}}</h5>
                <h5>{{friend.breed}}</h5>
            </div>
        </div>
    </div>
</section>