{{!-- <section class="mt-5 p-3">
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-4 d-flex justify-content-center">
                {{!-- <img class="img-fluid" src={{PLACEHOLDER image url}} alt="Image of {{PLACEHOLDER username}}"> --}}
            {{!-- </div>
            <div class="col-6 col-md-7 col-lg-8">
                {{#each dogs as |dog|}}
                <h3>{{dog.name}}</h3>
                <h5>age: {{dog.age}}</h5>
                <h5>{{dog.breed}}</h5>
                {{/each}}
            </div>
        </div>
    </div>
</section> --}}

<section class="mt-5 p-3">
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-4 d-flex justify-content-center">
                {{#with dogs.[id] as |dog|}}
                <img class="img-fluid" src={{dog.image}} alt="Image of {{dog.name}}">
                {{/with}}
            </div>
            <div class="col-6 col-md-7 col-lg-8">
                {{#with dogs.[id] as |dog|}}
                <h3>{{dog.name}}</h3>
                <h5>age: {{dog.age}}</h5>
                <h5>{{dog.breed}}</h5>
                {{/with}}
            </div>
        </div>
    </div>
</section>


{{!-- <section class="p-3 mt-5">
  <h1>All Dogs</h1>
  {{#each dogs}}
  <div id="friend-table" class="p-3">
      <table class="w-100">
         <tbody>
    <tr class="friend-row">
        <td class="p-3 alltable-profile">
            {{!-- <img src={{PLACEHOLDER image url}} class="profile-icon" alt="Icon image of {{PLACEHOLDER petname}}"> --}}
        {{!-- </td>
        <td class="py-3 alltable-name"><a href="/dogs/{{this.id}}">{{this.name}}</a></td>
        <td class="py-3 alltable-breed">{{this.breed}}</td>
        <td class="py-3 alltable-age">age: {{this.age}}</td>
        <td class="py-3 alltable-gender">{{this.gender}}</td>
    </tr>
</tbody>

      </table> --}}
  {{!-- </div>
  {{/each}}
</section> --}}

