{{!-- <p>{{user.username}}</p> --}}

<section class="mt-5 p-3">
    <h1>Hi, {{user.username}}</h1>
    <h3>Thank you for being a friend.</h3>
    

    <div class="container mt-4">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-4 d-flex justify-content-center">
                {{!-- <img class="img-fluid" src={{PLACEHOLDER image url}} alt="Image of {{PLACEHOLDER username}}"> --}}
            </div>

            <div class="col-6 col-md-7 col-lg-8">
                {{#each user.dogs as |dog|}}
                <h3>{{dog.name}}</h3>
                <h5>age: {{dog.age}}</h5>
                <h5>{{dog.breed}}</h5>
                <img src="{{dog.url}}">
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h6>Bio</h6>
            <p>
                {{dog.bio}}
            </p>
            {{/each}}
    </div>

</section>