{{ #if logged_in }}
<header>
    <nav class="navbar justify-content-end">
        <ul class="nav my-2">
            <li class="nav-item mx-3">Account</li> <!-- account goes to homepage -->
            <li class="nav-item mx-3">Logout</li>
        </ul>
    </nav>
</header>

<div class="p-3">
    <h1>Hi, {{PLACEHOLDER human name}}</h1>
    <h4>Thank you for being a friend.</h4>

    <div class="container mt-4">
        <div class="row">
            <div class="col-4">
                <img id="profile-pic" src={{PLACEHOLDER image route}} alt="Profile picture of {{PLACEHOLDER pet name}}">
            </div>

            <div class="col-8">
                <h5>{{PLACEHOLDER pet name}}</h5>
                <h5>age: {{PLACEHOLDER pet age}}</h5>
                <h5><span class="material-symbols-rounded">location_city</span> {{PLACEHOLDER location}}</h5>
                <h5>{{PLACEHOLDER dog breed}}</h5>
                
                <button id="edit-btn" class="mt-2" data-bs-toggle="modal" data-bs-target="#editUserModal">edit profile</button>
                    
                <!-- edit modal -->
                <div id="editUserModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit profile</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                        
                            <div class="modal-body">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="edit-username" placeholder="Edit name here">
                                    <label for="floatingInput">Name</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="edit-userlocation" placeholder="Edit location here">
                                    <label for="floatingInput">Location</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <textarea class="form-control" placeholder="Edit bio here" id="edit-userbio"></textarea>
                                    <label for="floatingTextarea">Bio</label>
                                </div>


                            </div>

                            <div class="modal-footer">
                                <button type="button" data-bs-dismiss="modal">Close</button>
                                <button type="button" data-bs-dismiss="modal">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="mt-4">
        <h6>Bio</h6>
        <p>
            {{PLACEHOLDER bio}}
        </p>
    </div>

    <hr class="mt-5 mb-4">

    <div>
        <div class="d-flex justify-content-between">
            <h2>My friends</h2>
            <button>Add new friend</button>
        </div>
        
        <div class="p-3">
            <table class="w-100">
                <tbody>
                    {{#each}}
                    <tr>
                        <th scope="row" class="py-3">{{PLACEHOLDER name}}</th>
                        <td class="py-3"><span class="material-symbols-rounded">location_city</span> {{PLACEHOLDER location}}</td>
                        <td class="py-3"><span class="material-symbols-rounded">delete</span></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    
</div>

{{ else }}
<section class="min-vh-100 d-flex justify-content-center align-items-center">
    <div>
        <h1 class="mb-4">Thank you for being a friend.</h1>
        <form class="mb-5">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="user" placeholder="name@example.com">
                <label for="user">Email address</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <label for="password">Password</label>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-4">
                <button class="w-75">Log in</button>
            </div>
        </form>
        <h6 class="text-center">Don't have an account? <a href="">Sign up</a></h6>
    </div>
</section>

{{ /if }}

<script src="../public/js/homepage.js"></script>