{{ #if logged_in }}
<header>
    <nav class="navbar justify-content-end">
        <ul class="nav my-2">
            {{!-- <li class="nav-item mx-3"><span class="material-symbols-rounded">search</span></li>
            <li class="nav-item mx-3"><span class="material-symbols-rounded">inbox</span></li> --}}
            <li class="nav-item mx-3">Account</li>
            <li class="nav-item mx-3">Logout</li>
        </ul>
    </nav>
</header>

<div class="container-fluid">
    
    <div class="row">
        <div id="sidebar" class="col-3 min-vh-100 pt-5">
            <div class="btn-group-vertical w-100">
                <input type="radio" class="btn-check" name="account-action" id="user" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="user">My profile</label>

                <input type="radio" class="btn-check" name="account-action" id="dog" autocomplete="off">
                <label class="btn btn-outline-primary" for="dog">Dog profile</label>

                <input type="radio" class="btn-check" name="account-action" id="friends" autocomplete="off">
                <label class="btn btn-outline-primary" for="friends">My friends</label>
            </div>
        </div>

    <!-- user's profile/pet profile/friend's list -->
        <div id="profile-info" class="col-9 min-vh-100 p-4">
            {{!-- if my profile is checked --}}
            <div id="my-profile">
                <h1>Hi, {{username}}</h1>
                <h4>Thank you for being a friend.</h4>

                <div class="container mt-4">
                    <div class="row">
                        <div class="col-5">
                            <img class="profile-pic" src={{path}} alt={{picture}}>
                        </div>

                        <div class="col-7">
                            <h5>{{name}}</h5>
                            <h5>age: {{age}}</h5>
                            <h5>🌐 {{location}}</h5>
                            <button class="mt-2 edit-btn" data-bs-toggle="modal" data-bs-target="#editUserModal">edit profile</button>

                        {{!-- edit modal --}}
                            <div id="editUserModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Edit profile</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                    
                                        <div class="modal-body">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="edit-username" placeholder="Edit name here">
                                                <label for="floatingInput">Name</label>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="edit-userlocation" placeholder="Edit location here">
                                                <label for="floatingInput">Location</label>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <textarea class="form-control" placeholder="Edit bio here" id="edit-userbio"></textarea>
                                                <label for="floatingTextarea">Bio</label>
                                            </div>

                                            <hr>

                                            <h6>Edit likes and dislikes</h6>

                                            <table class="my-3 w-100">
                                                {{#each}}
                                                <tr class="my-likes">
                                                    <th scope="row">like</th>
                                                    <td>{{information}}</td>
                                                    <td><span class="material-symbols-rounded delete-likes">delete</span></td>
                                                </tr>
                                                {{/each}}
                                            </table>

                                            <div class="input-group mb-3 w-100">
                                                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Pick</button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#" class="dropdown-item" value="true">Like</a></li>
                                                    <li><a href="#" class="dropdown-item" value="false">Dislike</a></li>
                                                </ul>
                                                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                                                <button type="button" class="submit-like">Submit</button>
                                            </div>

                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" data-bs-dismiss="modal">Close</button>
                                            <button type="button" data-bs-dismiss="modal">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <h6>Bio</h6>
                    <p>
                        {{humanbio}}
                    </p>
                </div>

                <div class="container mt-4">
                    <div class="row">
                        <div class="col-6">
                            <h6>Likes</h6>
                            <ul>
                                {{#each}}
                                <li>{{information}}</li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="col-6">
                            <h6>Dislikes</h6>
                            <ul>
                                {{#each}}
                                <li>{{information}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <h6>Other interests</h6>
                    <ul>
                        {{#each}}
                            <li>{{information}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>


            {{!-- if dog profile is checked --}}
            <div id="dog-profile">
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-5">
                            <img class="profile-pic" src={{picture link}} alt={{some type of description}}>
                        </div>

                        <div class="col-7">
                            <h5>{{petname}}</h5>
                            <h5>age: {{petage}}</h5>
                            <h5>🌐 {{petlocation}}</h5>
                            <button class="mt-2 edit-btn" data-bs-toggle="modal" data-bs-target="#editDogModal">edit profile</button>

                        {{!-- edit modal --}}
                            <div id="editdogModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Edit profile</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                    
                                        <div class="modal-body">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="edit-dogname" placeholder="Edit name here">
                                                <label for="floatingInput">Name</label>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="edit-doglocation" placeholder="Edit location here">
                                                <label for="floatingInput">Location</label>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <textarea class="form-control" placeholder="Edit bio here" id="edit-dogbio"></textarea>
                                                <label for="floatingTextarea">Bio</label>
                                            </div>

                                            <hr>

                                            <h6>Edit likes and dislikes</h6>

                                            <table class="my-3 w-100">
                                                {{#each}}
                                                <tr class="my-likes">
                                                    <th scope="row">like</th>
                                                    <td>{{information}}</td>
                                                    <td><span class="material-symbols-rounded delete-likes">delete</span></td>
                                                </tr>
                                                {{/each}}
                                            </table>

                                            <div class="input-group mb-3 w-100">
                                                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Pick</button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#" class="dropdown-item" value="true">Like</a></li>
                                                    <li><a href="#" class="dropdown-item" value="false">Dislike</a></li>
                                                </ul>
                                                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                                                <button type="button" class="submit-like">Submit</button>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" data-bs-dismiss="modal">Close</button>
                                            <button type="button" data-bs-dismiss="modal">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <h6>Bio</h6>
                    <p>
                        {{petbio}}
                    </p>
                </div>

                <div class="container mt-4">
                    <div class="row">
                        <div class="col-6">
                            <h6>Likes</h6>
                            <ul>
                                {{#each}}
                                <li>{{information}}</li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="col-6">
                            <h6>Dislikes</h6>
                            <ul>
                                {{#each}}
                                <li>{{information}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        {{!-- if my friends is checked --}}
            <div id="friend-list">
                <div>
                <h1>My friends</h1>
                <div>
                    <table class="w-100">
                        <tbody>
                            {{#each}}
                            <tr class="human-friend">
                                <th scope="row" class="py-3">{{friendname}}</th>
                                <td class="py-3">✉️</td>
                                <button class="py-3 ghost-friend">👻</button>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="mt-4">
                <h1>My furry friends</h1>
                <div>
                    <table class="w-100">
                        <tbody>
                            <tr class="dog-friend">
                                <th scope="row" class="py-3">{{dogname}}</th>
                                <td class="py-3">🐶</td>
                                <td class="py-3">✉️</td>
                                <button class="py-3 ghost-dog">👻</button>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

{{ else }}
<section class="min-vh-100 d-flex justify-content-center align-items-center">
    <div>
        <h1 class="mb-4">Thank you for being a friend.</h1>
        <form class="mb-5">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="user" placeholder="name@example.com">
                <label for="user">Email address</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <label for="password">Password</label>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-4">
                <button class="w-75">Log in</button>
            </div>
        </form>
        <h6 class="text-center">Don't have an account? <a href="">Sign up</a></h6>
    </div>
</section>

{{ /if }}