<header>
		<nav class="navbar fixed-top justify-content-end">
			<ul class="nav my-2">
				<li class="nav-item mx-3"><a class="nav-link" href="/">Home</a></li>
				<li class="nav-item mx-3"><a class="nav-link" href="/dogs">Dogs</a></li>
				<li class="nav-item mx-3"><a class="nav-link" href="/messages">Messages</a></li>
				<li class="nav-item mx-3"><button class="btn-1" id="logout">Logout</button></li>
			</ul>
		</nav>
	</header>
<section class="p-3 mt-5">
    <h1>All Dogs</h1>
    {{#each dogs}}
    <div id="friend-table" class="p-3">
        <table class="w-100">
            <tbody>
                <tr class="friend-row">
                    <td class="p-3 alltable-profile">
                            <img src={{this.url}} class="profile-icon" alt="Icon image of {{this.name}}">
                    </td>
                    <td class="py-3 alltable-name"><a href="/dogs/{{this.id}}">{{this.name}}</a></td>
                    <td class="py-3 alltable-breed">{{this.breed}}</td>
                    <td class="py-3 alltable-age">age: {{this.age}}</td>
                </tr>
        </tbody>
        </table>
    </div>
    {{/each}}
</section>