<header>
    <nav class="navbar justify-content-end">
        <ul class="nav my-2">
            <li class="nav-item mx-3"><span class="material-symbols-rounded">search</span></li>
            <li class="nav-item mx-3"><span class="material-symbols-rounded">inbox</span></li>
            <li class="nav-item mx-3">Account</li>
            <li class="nav-item mx-3">Logout</li>
        </ul>
    </nav>
</header>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-4">
            <img id="match-pic" src={{match}} alt={{match}}>
        </div>
        <div class="col-8">
            <h1>{{matchname}}</h1>
            <h3>age: {{matchage}}</h3>
            <h3>🌐 {{matchlocation}}</h3>
        </div>
        
        <div class="mt-4">
            <h6>Bio</h6>
                <p>
                    {{bio}}
                </p>
        </div>

        <div class="container mt-4">
            <div class="row">
                <div class="col-6">
                    <h6>Likes</h6>
                    <ul>
                        {{#each}}
                        <li>{{information}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col-6">
                    <h6>Dislikes</h6>
                    <ul>
                        {{#each}}
                        <li>{{information}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <h6>Other interests</h6>
            <ul>
                {{#each}}
                <li>{{information}}</li>
                {{/each}}
            </ul>
        </div>

        <div class="mt-4 d-flex justify-content-evenly">
            <button id="add-friend">Add friend</button>
            <button id="find-new">Find new friend</button>
        </div>
    </div>

    <script src="../public/js/matchResult.js"></script>
