<header>
    <nav class="navbar justify-content-end">
        <ul class="nav my-2">
            {{!-- <li class="nav-item mx-3"><span class="material-symbols-rounded">search</span></li>
            <li class="nav-item mx-3"><span class="material-symbols-rounded">inbox</span></li> --}}
            <li class="nav-item mx-3">Account</li>
            <li class="nav-item mx-3">Logout</li>
        </ul>
    </nav>
</header>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-4">
            <img id="match-pic" src={{match}} alt={{match}}>
        </div>
        <div class="col-8">
            <h1>{{matchname}}</h1>
            <h3>age: {{matchage}}</h3>
            <h3>🌐 {{matchlocation}}</h3>
        </div>
        
        <div class="mt-4">
            <h6>Bio</h6>
                <p>
                    {{bio}}
                </p>
        </div>

        <div class="container mt-4">
            <div class="row">
                <div class="col-6">
                    <h6>Likes</h6>
                    <ul>
                        {{#each}}
                        <li>{{information}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col-6">
                    <h6>Dislikes</h6>
                    <ul>
                        {{#each}}
                        <li>{{information}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="mt-4 d-flex justify-content-evenly">
            <button id="add-friend">Add friend</button>
            <button data-bs-toggle="modal" data-bs-target="#find-new">Find new friend</button>

            <div id="find-new" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Find New Friend</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <table class="w-100">
                                <tr>
                                    <td>{{profile icon}}</td>
                                    <td>{{name}}</td>
                                    <td><span class="material-symbols-rounded">person_add</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../public/js/matchResult.js"></script>
