

<h1>Messages</h1>
<div id="message-feature">


<ul>
  {{#each messages}}
  <li>
    <strong>From:</strong> {{this.dogId}}
    <br>
    <strong>To:</strong> {{this.dogId}}
    <br>
    <strong>Message:</strong> {{this.text}}
  </li>
  {{/each}}
</ul>



<h1>New Message</h1>
<div>
<form method="POST" action="/messages" id="message-form">
  <label for="to">To:</label>
  <select name="to" >
    {{#each users}}
    <option value='{{this.id}}'>{{this.username}}</option>
  </select>
   {{/each}}
  <br>
  <label for="message-display">Message:</label>
  <textarea name="message-new" id="message-input" rows="5"></textarea>
  <br>
  <button type="submit">Send Message</button>
</form>
<script src="/socket.io/socket.io.js"></script>
</div>

