
<header>
		<nav class="navbar fixed-top justify-content-end">
			<ul class="nav my-2">
				<li class="nav-item mx-3"><a class="nav-link" href="/">Home</a></li>
				<li class="nav-item mx-3"><a class="nav-link" href="/dogs">Dogs</a></li>
				<li class="nav-item mx-3"><a class="nav-link" href="/messages">Messages</a></li>
				<li class="nav-item mx-3"><button class="btn-1" id="logout">Logout</button></li>
			</ul>
		</nav>
	</header>

<section class="mt-5 p-3">
<h1>Messages</h1>
<div id="message-feature">


<ul>
  {{#each messages}}
  <li>
    <strong>From:</strong> {{this.from}}
    <br>
    <strong>To:</strong> {{this.to}}
    <br>
    <strong>Message:</strong> {{this.text}}
  </li>
  {{/each}}
</ul>



<h1>New Message</h1>
<form method="POST" action="/messages">
  <label for="to">To:</label>
  <select name="to" id="message-form">
    {{#each users as |user|}}
    <option value="{{this.id}}">{{this.username}}</option>
    {{/each}}
  </select>
  <br>
  <label for="message-display">Message:</label>
  <textarea name="message-new" id="message-input" rows="5"></textarea>
  <br>
  <button type="submit">Send Message</button>
</form>
</section>
<script src="/socket.io/socket.io.js"></script>
</div>

